@function imgUrl($file, $path: "background"){
@return url("../images/" + $path + "/" + $file) no-repeat;
}

.hero_nav {
    .slide-nav {
        position: fixed;
        background: $primary;
        height: 100%;
        z-index: 100000000;
        width: 100%;
        padding: 50px;
        color: $white;
        font-weight: 500;
        font-size: 1.25rem;
        transform: translateX(-100%);
        transition: 0.2s all ease-in-out;

        &.nav-open {
            transform: translateX(0);
        }

        @include media-breakpoint-down(sm) {
            padding: 50px 24px;
        }

        .nav-btns {
            .btn {
                height: 60px;
                border-radius: 100px;
                font-weight: 700;
            }
        }

        .nav-link {
            font-size: 2rem;
            font-weight: 700;
        }
    }

    .navigation {
        box-shadow: 0 -8px 28px rgb(0 0 0 / 85%);
        padding: 17px 0;
        position: fixed;
        width: 100%;
        z-index: 10000000;
        background: $white;

        #triggerSlideNav {
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }

        .navbar-brand {
            padding: 0;
            margin: 0;
        }

        .nav-btns {
            gap: 15px;

            .btn {
                height: 61px;
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 196px;

                &.phone_btn {
                    @include media-breakpoint-down(xxl) {
                        min-width: auto;
                        padding: 8px 24px !important;
                    }
                }
            }
        }

        .primary_menu ul {
            li {
                a {
                    color: #1F2527;
                    font-size: 1.25rem;
                }

                &.current-menu-item a {
                    font-weight: 700;
                }
            }
        }

        @include media-breakpoint-down(sm) {
            nav.navbar {
                flex-wrap: nowrap;
            }
        }

        @include media-breakpoint-up(xl) {
            .dropdown:hover>.dropdown-menu {
                display: block;
            }
        }

        .dropdown-menu {
            min-width: 14rem;
            background-color: $primary;

            a.nav-link {
                padding: 0.5rem !important;
                font-weight: 500 !important;
                font-size: 0.875rem !important;
            }
        }
    }
}

// Start of Header
header {
    margin-top: 123px;

    &.homepage_header {
        background: imgUrl('homepage-banner.png') right center, radial-gradient(73.65% 190.43% at 85.49% 50%, #19252D 0%, #09141C 100%);
        background-size: contain;
        padding: 150px 0;
        color: $white;

        .hero_heading span {
            color: $secondary;
        }

        .sub_heading {
            padding: 30px 0;

            span {
                font-weight: 700;
            }
        }

        @include media-breakpoint-only(xl) {
            padding: 80px 0;
        }

        @include media-breakpoint-down(xl) {
            padding: 150px 0 0;
            background: radial-gradient(73.65% 190.43% at 85.49% 50%, #19252D 0%, #09141C 100%);
        }

        @include media-breakpoint-down(lg) {
            padding: 104px 0 0;

            .homepage_cta {
                .cta_text {
                    font-size: 1.25rem !important;
                }
            }
        }
    }

    &.subpage_header {
        min-height: 386px;
        display: flex;
        align-items: center;
        position: relative;
        color: $white;

        span {
            color: $secondary;
        }

        @include media-breakpoint-down(lg) {
            background-size: cover !important;
            padding: 80px 0;
            min-height: auto;
        }

        @include media-breakpoint-down(sm) {
            background: radial-gradient(73.65% 190.43% at 85.49% 50%, #19252D 0%, #09141C 100%) !important;
            padding: 64px 0;
        }

        .splash {
            position: absolute;
            right: 13%;
            bottom: 0;

            @include media-breakpoint-down(xxl) {
                right: 8%;
            }

            @include media-breakpoint-down(xl) {
                right: 5%;
            }

            @include media-breakpoint-down(lg) {
                display: none;
            }
        }
    }
}

// End of Header

// Start of Homepage
.homepage {
    section.section_1 {
        padding-top: 100px;

        .deals_card {
            padding: 55px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include media-breakpoint-down(xl) {
                padding: 48px 24px;
            }

            @include media-breakpoint-down(sm) {
                padding: 24px;
            }

            #homepage_deal_1_slider {
                .slick-dots {
                    display: flex !important;
                    bottom: -25px;
                    list-style-type: none;
                    justify-content: center;

                    @include media-breakpoint-up(md) {
                        justify-content: start;
                    }

                    li {
                        margin: 0 5px;
                        width: 10px;
                        height: 10px;

                        button:before {
                            width: 10px;
                            height: 10px;
                        }
                    }

                    button {
                        display: block;
                        width: 10px;
                        height: 10px;
                        padding: 0;
                        border: none;
                        background-color: $off-grey;
                        text-indent: -9999px;
                        border-radius: 50%;
                    }

                    li.slick-active button {
                        background-color: $primary-light;
                    }
                }
            }
        }
    }

    section.section_2 {
        padding: 140px 0;

        @include media-breakpoint-down(sm) {
            padding: 100px 0;

            .description {
                font-size: 1rem !important;
            }
        }

        .socials {
            background: linear-gradient(180deg, rgba(217, 217, 217, 0.5) 0%, rgba(213, 212, 212, 0.5) 100%);
            border-radius: 20px;
            padding: 16px;

            @include media-breakpoint-up(md) {
                margin-top: 24px;
                padding: 24px;
            }

            @include media-breakpoint-up(lg) {
                padding: 79px 60px 60px;
            }

            @include media-breakpoint-up(xl) {
                margin-top: -103px;
            }

            .social_card {
                height: 250px;
                background: $primary;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 20px;
                padding: 30px;
                display: flex;
                align-items: end;
                overflow: hidden;
                filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.1));

                .social_button {
                    text-decoration: none;
                    color: $white;
                    height: 60px;
                    border-radius: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    font-size: 1.125rem;
                    font-weight: 600;
                    line-height: 1;
                    padding: 8px 16px;

                    &.youtube {
                        background: red;
                    }

                    &.instagram {
                        background: linear-gradient(90deg, #4862C9 0%, #B131BA 31.77%, #FF6841 66.15%, #FFBD50 100%);
                    }

                    &.facebook {
                        background: #1877F2;
                    }

                    &.tiktok {
                        background: linear-gradient(90deg, #FE2B54 0%, #9D58BD 48.96%, #10E2DB 100%);
                    }

                    @include media-breakpoint-down(sm) {
                        height: 42px;
                        font-size: 0.875rem;
                    }
                }
            }
        }
    }

    section.section_3 {
        box-shadow: 0px 5.32594px 26.6297px rgba(0, 0, 0, 0.1);
        border-radius: 26.6297px;
        background-color: $quartinary;
        color: $white;
        padding: 207px 0;
        background-position: right center;
        background-size: contain;
        background-repeat: no-repeat;

        @include media-breakpoint-down(xxl) {
            padding: 80px 0;
            background-size: cover;
        }

        @include media-breakpoint-down(xl) {
            background-image: none !important;
        }

        @include media-breakpoint-down(lg) {
            padding: 64px 0;
        }

        @include media-breakpoint-down(sm) {
            .description {
                font-size: 1rem !important;
            }
        }
    }

    section.section_4 {
        padding: 188px 0;

        @include media-breakpoint-down(sm) {
            padding: 80px 0;
        }

        .services_slider {
            padding: 60px 0;

            @include media-breakpoint-down(sm) {
                padding: 32px 0;
            }

            .slick-slide {
                margin: 0 11px;
                color: #6F6F6F;
                font-weight: 500;

                &.slick-current {
                    color: $primary;
                    font-weight: 700;
                }
            }

            .slick-arrow.slick-prev {
                left: -50px;

                &:before {
                    content: "";
                    background: url("data:image/svg+xml,%3Csvg width='11' height='19' viewBox='0 0 11 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.5 1L1 9.5L9.5 18' stroke='%236F6F6F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                    height: 17px;
                    width: 20px;
                    position: absolute;
                    background-size: contain;
                    background-repeat: no-repeat;
                    top: -10px;
                }
            }

            .slick-arrow.slick-next {
                right: -50px;

                &:before {
                    content: "";
                    background: url("data:image/svg+xml,%3Csvg width='11' height='19' viewBox='0 0 11 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L9.5 9.5L1 18' stroke='%236F6F6F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                    height: 17px;
                    width: 20px;
                    position: absolute;
                    background-size: contain;
                    background-repeat: no-repeat;
                    top: -10px;
                }
            }
        }
    }

    section.section_5 {
        box-shadow: 0px 5.32594px 26.6297px rgba(0, 0, 0, 0.1);
        border-radius: 26.6297px;
        background-color: $primary-light;
        color: $white;
        padding: 207px 0;
        background-position: left center;
        background-size: contain;
        background-repeat: no-repeat;

        @include media-breakpoint-down(xxl) {
            padding: 80px 0;
            background-size: cover;
        }

        @include media-breakpoint-down(xl) {
            background-image: none !important;
        }

        @include media-breakpoint-down(lg) {
            padding: 64px 0;
        }

        @include media-breakpoint-down(sm) {
            padding: 64px 0;

            .description {
                font-size: 1rem !important;
            }
        }
    }
}

// End of Homepage

// Start of About us page
.about_us {
    section.section_1 {
        padding: 188px 0;

        @include media-breakpoint-down(sm) {
            padding: 100px 0;

            .description {
                font-size: 1rem !important;
            }
        }
    }

    section.section_2 {
        border-radius: 20px;
        overflow: hidden;
        background-color: $primary;
        color: $white;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right center;
        padding: 80px 16px;

        @include media-breakpoint-only(lg) {
            padding: 48px 16px;
        }

        @include media-breakpoint-down(lg) {
            padding: 0;
            background-image: none !important;
        }
    }

    section.section_3 {
        padding-top: 188px;

        @include media-breakpoint-down(sm) {
            padding-top: 100px;
        }

        .why_choose_card {
            height: 100%;
            padding: 60px;
            background: $white;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
            border-radius: 20px;

            @include media-breakpoint-down(xl) {
                padding: 32px 24px;
            }

            @include media-breakpoint-down(lg) {
                padding: 24px;
            }

            @include media-breakpoint-down(sm) {
                padding: 36px 24px 24px;
            }
        }
    }
}

// End of About us page

// Start of Sercies page
.services_page {
    section.services_slider {
        padding: 188px 0 158px;

        @include media-breakpoint-down(sm) {
            padding: 100px 0;
        }

        .slick-track {
            display: flex;
        }

        .slick-slide {
            height: inherit;
            margin: 0 31px;

            @include media-breakpoint-down(sm) {
                margin: 0 24px;
            }
        }

        .slick-dots {
            display: flex !important;
            bottom: -44px;
            left: 8%;
            list-style-type: none;
            justify-content: start;

            @include media-breakpoint-up(md) {
                justify-content: center;
                left: 13%;
            }

            @include media-breakpoint-up(lg) {
                justify-content: start;
                left: 3%;
            }

            @include media-breakpoint-up(xl) {
                left: 6%;
            }

            @include media-breakpoint-up(xxl) {
                left: 8%;
            }

            li {
                margin: 0 5px;
                width: 10px;
                height: 10px;

                button:before {
                    width: 10px;
                    height: 10px;
                }
            }

            button {
                display: block;
                width: 10px;
                height: 10px;
                padding: 0;
                border: none;
                background-color: $off-grey;
                text-indent: -9999px;
                border-radius: 50%;
            }

            li.slick-active button {
                background-color: $primary-light;
            }
        }

        .service_slider_card {
            border-radius: 20px;
            background-repeat: no-repeat;
            background-position: right center;
            background-size: contain;
            overflow: hidden;

            .service_slider_card_inner {
                filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.1));
                padding: 16px 60px;
                background: imgUrl('service_card.png') left center;
                background-size: contain;
                color: $white;
                height: 100%;
                min-height: 344px;
                text-transform: capitalize;

                .hero_heading {
                    @include media-breakpoint-only(md) {
                        font-size: 48px !important;
                    }
                }

                @include media-breakpoint-down(lg) {
                    min-height: auto;
                    padding: 48px 16px;
                }

                @include media-breakpoint-down(sm) {
                    background: $primary;
                    padding: 32px 16px;
                    min-height: auto;
                }
            }

            @include media-breakpoint-down(xl) {
                background-size: cover;
            }

            @include media-breakpoint-down(sm) {
                background: none !important;
            }
        }
    }

    section.services_list {
        .service_card {
            border-radius: 20px;
            overflow: hidden;
            background-repeat: no-repeat;
            background-position: center bottom;
            background-size: container;
            width: 100%;
            filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.1));

            .service_card_inner {
                color: $white;
                min-height: 255px;
                width: 100%;
                padding: 30px;
                text-align: center;
                background: imgUrl('service_splash.png') center top;
                background-size: contain;
                font-size: 1.25rem;
                font-weight: 700;
                text-transform: capitalize;

                @include media-breakpoint-down(sm) {
                    font-size: 1rem;
                }
            }
        }
    }
}

// End of Sercies page

// Start of Inner Service Page
.inner_service_page {

    @include media-breakpoint-down(sm) {
        .description {
            font-size: 1rem !important;
        }
    }

    section.section_1,
    section.section_3 {
        padding: 188px 0;

        @include media-breakpoint-down(sm) {
            padding: 100px 0;
        }
    }

    section.section_2 {
        border-radius: 20px;
        background-color: $primary;
        color: $white;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right center;
        padding: 104px 16px;

        @include media-breakpoint-down(xl) {
            padding: 48px 16px;
        }

        @include media-breakpoint-down(lg) {
            background-image: none !important;
            padding: 48px 16px;
        }

        @include media-breakpoint-down(sm) {
            padding: 32px 16px;
        }
    }
}

// End of Inner Service Page

// Start of Contact Us Page
.contact_us_page {
    padding: 188px 0;

    @include media-breakpoint-down(sm) {
        padding: 100px 0;
    }

    .contact_card {
        border-radius: 20px;
        filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.1));
        height: 100%;
        background-color: $white;
        padding: 40px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        @include media-breakpoint-down(sm) {
            padding: 24px;
        }

        .title {
            font-size: 2.25rem;
            text-transform: capitalize;
            color: $secondary;
            font-weight: 800;
            line-height: 1;
            padding-top: 40px;

            @include media-breakpoint-down(sm) {
                font-size: 1.5rem;
            }
        }

        .contact {
            font-size: 1.5rem;
            font-weight: 500;
            color: $light-grey;

            @include media-breakpoint-down(sm) {
                font-size: 1rem;
                padding-top: 16px;
            }
        }
    }
}

// End of Contact Us Page

// Start of Areas Page
.areas_page {

    section.section_1,
    section.section_3 {
        border-radius: 20px;
        background: $white;
        padding: 60px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);

        @include media-breakpoint-down(lg) {
            padding: 48px;
        }

        @include media-breakpoint-down(sm) {
            padding: 48px 24px;
        }
    }

    section.section_2 {
        padding: 188px 0;

        @include media-breakpoint-down(sm) {
            padding: 100px 0;
        }

        a.suburb_hyperlink {
            transition: 0.2s all;
            display: flex;
            align-items: center;

            &:hover {
                color: $secondary !important;
            }
        }
    }
}

// End of Areas Page

// Start of Suburb Page
.suburb_page {
    @include media-breakpoint-down(sm) {
        .description {
            font-size: 1rem !important;
        }
    }

    section.section_1 {
        padding: 188px 0;

        @include media-breakpoint-down(sm) {
            padding: 100px 0;
        }
    }

    section.suburb_card {
        background: $white;
        padding: 80px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 20px;

        @include media-breakpoint-down(xl) {
            padding: 48px 24px;
        }

        @include media-breakpoint-down(sm) {
            padding: 32px 16px;
        }

        .service {
            background-position: right center;
            background-repeat: no-repeat;
            background-size: contain;
            padding: 52px 60px;
            color: $white;
            min-height: 525px;
            display: flex;
            align-items: center;
            overflow: hidden;

            @include media-breakpoint-down(xl) {
                background-image: none !important;
            }

            @include media-breakpoint-down(lg) {
                padding: 48px 24px;
            }

            @include media-breakpoint-down(sm) {
                padding: 32px 16px;
            }
        }

        &.section_3 {
            margin: 188px 0;

            @include media-breakpoint-down(sm) {
                margin: 100px 0;
            }

            .description {
                color: $light-grey;
                margin-top: 60px;

                @include media-breakpoint-down(sm) {
                    margin-top: 32px;
                }

                ul {
                    list-style-type: disc;
                    margin-bottom: 0;

                    li {
                        padding: 6px 0;
                        position: relative;

                        &::before {
                            content: "\2022";
                            position: absolute;
                            left: -1rem;
                        }

                        @include media-breakpoint-up(md) {
                            padding: 10px 0;
                        }
                    }

                    @include media-breakpoint-up(md) {
                        columns: 2;
                    }

                    @include media-breakpoint-up(lg) {
                        columns: 3;
                    }
                }
            }
        }
    }
}

// End of Suburb Page

// Start of Blogs Page
.blogs_page {
    margin-top: 188px;

    .blog_card {
        filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.1));
        background: $white;
        overflow: hidden;

        .background {
            width: 100%;
            height: 309px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-color: $light-grey;
        }

        .main_content {
            padding: 37px 27px 30px;

            .date {
                height: 75px;
                width: 75px;
                top: -37.5px;
            }

            .title {
                font-size: 1.5rem;
                padding: 22px 0 14px;
            }
        }
    }
}

// End of Blogs Page

// Start of Single Post
.single_post_page {
    @include media-breakpoint-down(sm) {
        .description {
            font-size: 1rem !important;
        }
    }

    section.intro {
        padding: 188px 0;

        @include media-breakpoint-down(sm) {
            padding: 100px 0;
        }
    }

    section.post_card {
        background: $white;
        padding: 80px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 20px;

        @include media-breakpoint-down(xl) {
            padding: 48px 24px;
        }

        @include media-breakpoint-down(sm) {
            padding: 32px 16px;
        }

        .service {
            background-position: right center;
            background-repeat: no-repeat;
            background-size: contain;
            padding: 52px 60px;
            color: $white;
            min-height: 525px;
            display: flex;
            align-items: center;
            overflow: hidden;

            @include media-breakpoint-down(xl) {
                background-image: none !important;
            }

            @include media-breakpoint-down(lg) {
                padding: 48px 24px;
            }

            @include media-breakpoint-down(sm) {
                padding: 32px 16px;
            }
        }

        &.further_assistance {
            margin: 188px 0;

            @include media-breakpoint-down(sm) {
                margin: 100px 0;
            }

            .description {
                color: $light-grey;
                margin-top: 60px;

                @include media-breakpoint-down(sm) {
                    margin-top: 32px;
                }

                ul {
                    list-style-type: disc;
                    margin-bottom: 0;

                    li {
                        padding: 6px 0;
                        position: relative;

                        &::before {
                            content: "\2022";
                            position: absolute;
                            left: -1rem;
                        }

                        @include media-breakpoint-up(md) {
                            padding: 10px 0;
                        }
                    }

                    @include media-breakpoint-up(md) {
                        columns: 2;
                    }

                    @include media-breakpoint-up(lg) {
                        columns: 3;
                    }
                }
            }
        }
    }

    .contact_description a {
        font-weight: 700;
    }

    .template_2 {
        section.section_1 {
            padding: 123px 16px;

            @include media-breakpoint-down(lg) {
                padding: 64px 16px;
            }
        }

        section.section_1,
        section.section_4 {
            border-radius: 20px;
            color: $white;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: right center;

            @include media-breakpoint-down(xl) {
                background-image: none !important;
            }
        }

        section.section_2 {
            background: $white;
            padding: 80px;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            margin: 188px 0;

            @include media-breakpoint-down(lg) {
                padding: 64px 24px;
            }

            @include media-breakpoint-down(sm) {
                margin: 100px 0;
                padding: 48px 16px;
            }

            .benefit_card {
                background-color: $light;
                border-radius: 20px;
                height: 100%;
                padding: 60px 45px;
                color: $light-grey;
                font-weight: 700;
                text-align: center;
                font-size: 1.25rem;
                display: flex;
                justify-content: center;
                align-items: center;

                @include media-breakpoint-down(xl) {
                    padding: 48px 24px;
                }

                @include media-breakpoint-down(sm) {
                    padding: 32px 16px;
                }
            }
        }

        section.section_4 {
            padding: 96px 16px 80px;
            margin: 188px 0;

            @include media-breakpoint-down(lg) {
                padding: 64px 24px;
            }

            @include media-breakpoint-down(sm) {
                margin: 100px 0;
                padding: 48px 16px;
            }
        }

        section.section_5 {
            .feature_card {
                background-color: $light;
                border-radius: 20px;
                height: 100%;
                padding: 40px 30px;
                color: $light-grey;
                font-weight: 700;
                text-align: center;
                font-size: 1.25rem;
                display: flex;
                justify-content: center;

                @include media-breakpoint-down(xl) {
                    padding: 48px 24px;
                }

                @include media-breakpoint-down(sm) {
                    padding: 32px 16px;
                }
            }
        }

        section.section_6 {
            margin-top: 188px;

            @include media-breakpoint-down(sm) {
                margin-top: 100px;
            }
        }
    }
}

// End of Single Post

// Start of Footer
footer {
    padding: 80px 0 70px;
    background: radial-gradient(73.65% 190.43% at 85.49% 50%, #2F3436 0%, #0A161F 100%);

    .quick_contact {
        padding: 50px 60px;
        color: $white;
        border-radius: 20px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);

        @include media-breakpoint-down(lg) {
            padding: 24px;
        }
    }

    hr {
        color: $light-grey;
        border-top: 1px solid;
        margin: 30px 0 40px;
        opacity: 1;
    }

    .navigation_wrapper {
        .footer_menu ul {
            padding-inline-start: 0;

            li {
                font-size: 0.875rem;
                list-style: none;

                a {
                    color: $light-grey;
                    font-size: 1.25rem;
                    font-weight: 600;
                    text-decoration: none;
                    padding: 4px 0 !important;

                    @include media-breakpoint-down(sm) {
                        font-size: 0.875rem;
                    }

                    &.view_all {
                        color: $primary;
                    }
                }
            }
        }
    }

    .microsite-links {
        padding-top: 100px;

        @include media-breakpoint-down(sm) {
            padding-top: 64px;
        }
    }
}

// End of Footer

// Start of Part Home Form
.homeForm {
    .form_wrapper {
        padding: 60px;
        color: $white;

        @include media-breakpoint-down(lg) {
            padding: 40px 24px;
        }

        @include media-breakpoint-down(sm) {
            padding: 40px 16px;
        }

        #prevBtn {
            cursor: pointer;
        }

        .form_slider {
            .slick-track {
                display: flex !important;
            }

            .slick-slide {
                height: inherit !important;
            }

            .slick-dots {
                display: flex !important;
                bottom: -81px;
                list-style-type: none;
                justify-content: end;

                @include media-breakpoint-down(sm) {
                    bottom: -76px;
                }

                li {
                    margin: 0 4.5px;
                    width: 13px;
                    height: 13px;

                    button:before {
                        width: 13px;
                        height: 13px;
                    }

                    @include media-breakpoint-down(sm) {
                        width: 10px;
                        height: 10px;
                        margin: 0 2.5px;

                        button:before {
                            width: 10px;
                            height: 10px;
                        }
                    }
                }

                button {
                    display: block;
                    width: 13px;
                    height: 13px;
                    padding: 0;
                    border: none;
                    text-indent: -9999px;
                    border-radius: 50%;
                    background-color: $white;
                    opacity: 0.3;

                    @include media-breakpoint-down(sm) {
                        width: 10px;
                        height: 10px;
                    }
                }

                li.slick-active button {
                    background-color: $white;
                    opacity: 1;
                }
            }

            .tab {
                @include media-breakpoint-down(sm) {
                    .hero_heading {
                        font-size: 3rem !important;
                    }

                    .sub_heading {
                        font-size: 1.125rem !important;
                    }
                }

                .label {
                    font-size: 1.5rem;
                    font-weight: 700;
                    line-height: 1;
                    text-transform: capitalize;

                    @include media-breakpoint-down(sm) {
                        font-size: 1rem;
                    }
                }

                input[type=text],
                input[type=email],
                input[type=tel],
                textarea {
                    background: none;
                    border-radius: 0;
                    border: none;
                    padding: 20px 0 0;
                    font-size: 3rem;
                    font-weight: 700;
                    color: $white;
                    line-height: 1;

                    @include media-breakpoint-down(lg) {
                        font-size: 2.25rem;
                    }

                    @include media-breakpoint-down(sm) {
                        font-size: 1.5rem;
                    }

                    &::placeholder {
                        color: rgba(255, 255, 255, 0.3);

                    }


                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }

                    &:-webkit-autofill,
                    &:-webkit-autofill:hover,
                    &:-webkit-autofill:focus,
                    &:-webkit-autofill:active {
                        transition: background-color 5000s ease-in-out 0s;
                        color: $white;
                    }
                }

                textarea {
                    height: auto !important;
                }

                input[type="radio"] {
                    opacity: 0;
                    position: fixed;
                    width: 0;
                }

                .radio-toolbar label {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    cursor: pointer;
                    color: $white;
                    letter-spacing: -0.01em;
                    height: 100%;
                    width: 100%;
                    background: rgba(255, 255, 255, 0.3);
                    padding: 20px 24px;
                    border-radius: 20px;
                    text-align: center;
                    font-weight: 700;
                    transition: 0.2s all;
                    font-size: 1.25rem;
                    min-height: 144px;

                    &:hover {
                        background-color: $secondary;
                    }

                    &.time {
                        height: 70px;
                        min-height: 70px;
                        border-radius: 100px;
                        flex-direction: row;
                        justify-content: center;

                        @include media-breakpoint-down(lg) {
                            min-height: 50px;
                            height: 50px;
                        }
                    }

                    @include media-breakpoint-down(lg) {
                        font-size: 1rem;
                        min-height: 100px;
                    }

                    @include media-breakpoint-down(sm) {
                        padding: 16px;
                        font-size: 0.875rem;
                        min-height: 100px;
                    }
                }

                .radio-toolbar input[type="radio"]:checked+label {
                    background-color: $white;
                    color: $dark;

                    svg {
                        filter: invert(44%) sepia(90%) saturate(2285%) hue-rotate(311deg) brightness(83%) contrast(94%);
                    }
                }

                .form-check-input:checked+.form-check-label .radio-button-circle {
                    background-color: $primary;
                }

                .range {
                    width: 100%;
                    height: 24px;
                    position: relative;
                    background-color: #F0F0F7;
                    border-radius: 100px;

                    .sliderThumb {
                        position: absolute;
                        width: 34px;
                        height: 34px;
                        background-color: $white;
                        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
                        border-radius: 50%;
                        top: -6px;
                        cursor: pointer;
                        z-index: 2;
                    }

                    .progressBar {
                        position: absolute;
                        height: 100%;
                        background-color: $secondary;
                        border-radius: 100px;
                        z-index: 1;
                    }

                    input[type=range] {
                        position: absolute;
                        width: 99.5%;
                        height: 24px;
                        -webkit-appearance: none;
                        opacity: 0;
                        z-index: 3;

                        &::-webkit-slider-thumb {
                            height: 34px;
                            width: 34px;
                            background-color: $secondary;
                            border-radius: 30px;
                            cursor: pointer;
                            -webkit-appearance: none;
                        }
                    }
                }
            }
        }
    }
}

// End of Part Home Form

// Start of Part Shortcuts
.section_shortcuts {
    padding: 188px 0;

    @include media-breakpoint-down(sm) {
        padding: 100px 0;
    }

    .shortcut_card {
        background-position: center bottom;
        background-size: contain;
        background-repeat: no-repeat;
        padding: 30px 24px 60px;
        color: $white;
        border-radius: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 500px;

        @include media-breakpoint-down(sm) {
            min-height: 400px;
        }
    }
}

// End of Part Shortcuts

// Start of Part ContactUsForm
.contactUsForm {
    .contactUsForm_card {
        padding: 60px;
        color: $white;
        filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.1));
        background-repeat: no-repeat;
        background-size: cover;

        @include media-breakpoint-down(xl) {
            padding: 48px 16px;
        }

        .hero_heading {
            @include media-breakpoint-between(md, lg) {
                font-size: 42px !important;
            }
        }

        @include media-breakpoint-down(sm) {
            padding: 32px 16px;
        }

        form {
            .input-group {
                border-radius: 2px;
                overflow: hidden;
                background: $white;
                align-items: center;
                overflow: hidden;
            }

            .input-group-text {
                border: 0;
                border-radius: 0;
                background: $white;
                padding-left: 18px;
            }

            .wpcf7-form-control-wrap {
                flex: 1;
            }

            input {
                color: $dark;
                font-size: 1.125rem;
                min-height: 50px;

                @include media-breakpoint-up(lg) {
                    min-height: 60px;
                }

                &:focus {
                    box-shadow: none;
                    outline: none;
                }

                &::placeholder {
                    color: $off-grey;
                }

                option {
                    color: $grey;
                    font-weight: 700;
                }
            }

            .form-control {
                padding: 0 4px;
                border: 0;
                border-radius: 0;
            }
        }
    }
}

// End of Part ContactUsForm